{:paths [".build"]
 :deps {io.github.borkdude/gh-release-artifact
        {:git/sha "4a9a74f0e50e897c45df8cc70684360eb30fce80"}}
 :tasks
 {uber (clojure "-T:build uber")
  release-artifact {:task (exec 'release-artifact/release)}}}
