{:paths [".build"]
 :deps {io.github.borkdude/gh-release-artifact
        {:git/sha "5072631fd5eea34a6c791846a5351391d7d438d8"}}
 :tasks
 {uber (clojure "-T:build uber")
  release-artifact {:task (exec 'release-artifact/release)}}}
